.add-review-form {
  display: flex;
  flex-direction: column;
}

.add-review-form .re-btn {
  width: fit-content;
}

.submitted-review ion-icon {
  color: rgb(0 0 0 / 80%);
}
.submitted-review ion-icon:hover {
  color: rgb(0 0 0 / 80%);
}

.rate {
  display: inline-block;
  height: 36px;
  padding: 0 6px 0 12px;
  float: left;

  border-radius: 9px;
  outline: 1px solid transparent;
  outline-offset: -3px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/*Review textarea*/
.reviewArea {
  resize: vertical;
  max-height: 150px;
  min-height: 100px;
  padding: 1rem;
  border: none;

  margin-bottom: 1rem;

  transition: 50ms ease;
  border-radius: 9px;
  outline: 1px solid rgb(162, 162, 162);
  outline-offset: -3px;
}
.reviewArea:focus {
  border: none;
}

/*Validity*/
:root {
  --clr-invalid: #ba5353;
  --clr-valid: #53ba68;
}

.rate.invalid {
  outline: 2px solid var(--clr-invalid);
}
.reviewArea.invalid {
  outline: 2px solid var(--clr-invalid);
}

.submitted-review ion-icon {
  font-size: 64px;
  --ionicon-stroke-width: 6px;
}
.submitted-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.submitted-review span {
  width: 120px;
}
