.pg__thumbnail img {
  max-width: 100%;
}

.pg__thumbnail {
  position: relative;
  display: inline-block;
  user-select: none;
  padding: 0.5rem;
  max-width: 100px;
}
.pg__thumbnail.active::before {
  outline: 1px solid rgba(0, 0, 0, 0.16);
}
.pg__thumbnail::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  transition: 150ms var(--globaltransition-header);
  scale: 1;
  background-color: rgba(0, 0, 0, 0.02);
  outline: 1px solid rgba(0, 0, 0, 0.02);
}
.pg__thumbnail:hover::before {
  scale: 1.05;
  background-color: rgba(0, 0, 0, 0.04);
}
.pg__thumbnail:active::before {
  scale: 0.97;
  background-color: rgba(0, 0, 0, 0.06);
}
