.product-card {
  display: flex;
  flex-direction: column;

  background-color: rgb(245, 245, 245);
  margin: 1rem;
}

.product__thumb img {
  width: 100%;
}

.product__image {
  cursor: pointer;
}
.product__view-more {
  cursor: pointer;
}
