.product-card {
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  padding: 1.25rem;
  margin: 1rem;
  border-radius: 0.5rem;

  transition: 500ms var(--globaltransition-header);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-content__box {
  display: flex;
  justify-content: space-between;
}
.product-content__box-right {
  display: flex;
  gap: 1rem;
}

.product__thumb img {
  width: 100%;
}

.product__image {
  cursor: pointer;
  margin-bottom: 2.5rem;
}

.product__name {
  font-weight: 500;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}
.product__price {
  font-weight: 300;
  font-size: 0.95rem;
}
.product__add-to-cart ion-icon,
.product__view-more ion-icon {
  color: black;
}
.product__view-more {
  cursor: pointer;
  margin-top: 1px;
}
