.product-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: auto;
  z-index: 10;

  background-color: rgb(255, 255, 255);
  color: black;
  animation: fadeIn 200ms linear forwards;

  padding: 2rem;
  border-radius: 0.25rem;
}
@media (min-width: 600px) {
  .product-modal {
    min-width: 600px;
    max-width: 700px;
  }
}

.product-modal__content {
  display: flex;
}
.product-modal-right > * {
  margin-bottom: 1rem;
}

.product-modal__gallery img {
  max-width: 300px;
}

.product-modal__name {
  font-size: 1.25rem;
  font-weight: 300;
}
.product-modal__price {
  font-size: 1rem;
  font-weight: 500;
}
.product-modal__desc {
  color: rgb(86, 86, 86);
  font-weight: 300;
}

.product-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  cursor: auto;
  z-index: 5;

  animation: fadeIn 100ms linear forwards;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modalClose {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
