.product-card {
  display: flex;
  flex-direction: column;
  max-width: 348px;

  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  transition: 500ms var(--globaltransition-header);
}

.product-content__box {
  display: flex;
  justify-content: space-between;
}
.product-content__box-right {
  display: flex;
  gap: 1rem;
}

.product__thumb {
  position: relative;
  padding: 2rem 1rem;
}
.product__thumb::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;

  transition: 300ms var(--globaltransition-header);
}
.product__thumb:hover::before {
  scale: 1.03;
  background: rgba(0, 0, 0, 0.03);
}

.product__thumb img {
  width: 100%;
}

.product__image {
  cursor: pointer;
  margin-bottom: 1rem;
}

.product__content > :first-child {
  margin-bottom: 0.35rem;
}
.product__content > * {
  margin-bottom: 0.75rem;
}
.product__content > :last-child {
  margin-bottom: 0rem;
}

.product__name {
  font-weight: 500;
  font-size: 0.95rem;
}
.product__price {
  font-weight: 300;
  font-size: 0.95rem;
}
.product__add-to-cart ion-icon,
.product__view-more ion-icon {
  color: black;
}

.product__add-to-cart .icon-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  transition: 300ms var(--globaltransition-header);
  transform-origin: top left;
  scale: 0.8;
  opacity: 0;
  background-color: transparent;

  border-radius: 99px;
  padding: 1.25rem;
}
.product__add-to-cart .icon-btn:hover::after {
  scale: 1;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.product__add-to-cart .icon-btn:active::after {
  scale: 0.85;
  opacity: 1;
  background-color: rgba(0, 0, 27, 0.2);
}

.product__view-more {
  cursor: pointer;
  margin-top: 1px;
}
