.header-content {
  position: fixed;
  z-index: 90;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.625rem;

  backdrop-filter: saturate(180%) blur(10px);
  background-color: var(--globalnav-background-opaque);

  gap: 2rem;
}
.header-content.open {
  background-color: var(--globalnav-background);
}
