.logo * {
  color: rgb(219, 219, 219);
  text-decoration: none;
  transition: 250ms var(--globaltransition-header);
}
.logo:hover *,
.logo:active * {
  color: rgb(237, 237, 237);
}
.logo-name {
  margin-left: 0.5rem;
}

.header-content {
  position: fixed;
  z-index: 90;
  width: 100vw;

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;

  backdrop-filter: saturate(180%) blur(10px);
  background-color: var(--globalnav-background-opaque);

  transition: 300ms var(--globaltransition-header);

  gap: 2rem;
}
.header-content.open {
  background-color: var(--globalnav-background-light);
}
.header-content.open ion-icon {
  color: rgba(0, 0, 0, 0.8);
}
.header-content.open input[type="text"].form-control {
  color: rgba(0, 0, 0, 0.8);
}
.header-content.open .logo-name {
  color: rgba(0, 0, 0, 0.8);
}
.header-content.open .cart-count {
  color: rgba(0, 0, 0, 0.8);
}

.header-content__left .flex {
  gap: 2rem;
}

.header-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  position: fixed;
  visibility: hidden;
  top: 54px;
  left: 0;
  z-index: 100;
  width: 100vw;

  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.2);

  transform: scaleY(0);
  transform-origin: top;
  height: auto;
  min-height: 250px;
  opacity: 0.4;
  transition: 600ms var(--globaltransition-header),
    color 400ms var(--globaltransition-header),
    opacity 400ms var(--globaltransition-header);
  background-color: var(--globalnav-background-light);
  color: transparent;
}

.header-window.open {
  visibility: visible;
  padding: 2rem;
  color: white;
  opacity: 1;
  transform: scaleY(1);
}
.header-window.open * {
  opacity: 1;
  color: black;
}

.header-window.open > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

/*Search results specifically*/
.header-window.search-results.open {
  padding: 2rem;
}

.header-overlay {
  position: absolute;
  z-index: 0;
  top: 54px;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  scale: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: 600ms opacity cubic-bezier(0.15, 0.8, 0, 1), 0ms scale;
}
.header-overlay.open {
  background: rgba(22, 22, 23, 0.9);
  opacity: 1;
  scale: 1;
}
