.cart-container ion-icon {
  font-size: 24px;
}

.cart-window * {
  opacity: 0;
  transition: 400ms opacity cubic-bezier(0.15, 0.8, 0, 1);
}
.cart-window.open * {
  opacity: 1;
  color: black;
}

.cart-empty {
}

.cart-total {
  text-align: center;
  font-size: 1.25rem;
}
