.cart-item {
  display: flex;
  justify-content: space-between;
}
.cart-item > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-item__thumb {
  display: flex;
}
.cart-item__thumb * {
  width: 44px;
  height: 44px;
}

/*Quantity*/
.cart-item__quantity-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* Chrome, Safari, Edge, Opera */
input.cart-item__quantity::-webkit-outer-spin-button,
input.cart-item__quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"].cart-item__quantity {
  -moz-appearance: textfield;
}
.cart-item__quantity {
  width: 24px;
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
}
