.cart-container {
}

.cart-window {
}
.cart-window.open {
}
.cart-window * {
  opacity: 0;
  transition: 400ms opacity cubic-bezier(0.15, 0.8, 0, 1);
}
.cart-window.open * {
  opacity: 1;
  color: black;
}

.cart-count {
  position: absolute;
  top: 70%;
  left: 51%;
  transform: translate(-50%, -55%);
  color: rgb(166, 166, 166);
  font-size: 0.55rem;
  font-weight: 500;
}

.cart-empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cart-total {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 1.5rem;

  text-align: center;
  font-size: 1.25rem;
}
