.search-form {
  width: fit-content;
}

.search-btn a {
  display: flex;
}

.search-bar__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-results {
  position: absolute;
  z-index: 200;

  display: flex;
  flex-direction: column;
  background-color: rgba(131, 131, 131, 0.46);

  margin-top: 0.5rem;
  border-radius: 4px;
}
.search-results .product-card {
  flex-direction: row;
}
.search-results .product__thumb img {
  width: 80px;
}
