.search-form {
  width: 300px;
}

.search-btn a {
  display: flex;
}

.search-bar__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-results .product-card {
  flex-direction: row;
}
.search-results .product__thumb img {
  width: 80px;
}
