:root {
  --globalnav-background-light: rgba(255, 255, 255, 1);
  --globalnav-background-light-opaque: rgba(255, 255, 255, 0.8);

  --globalnav-background: rgba(22, 22, 23, 1);
  --globalnav-background-opaque: rgba(22, 22, 23, 0.8);

  --globaltransition-header: cubic-bezier(0.15, 0.8, 0, 1);
}

.App > div {
  padding: 4rem 2rem 2rem 2rem;
}
.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f7;
}

.flex {
  display: flex;
}

.shop-message {
  font-size: 1.5rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}

ion-icon {
  --ionicon-stroke-width: 24px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
  transition: 100ms ease-in-out;
}
ion-icon:hover {
  color: rgba(255, 255, 255, 1);
}

.re-btn {
  position: relative;
  display: flex;
  cursor: pointer;
  margin: 0;
  appearance: none;
  border: none;

  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 300;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
}
.re-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border-radius: 99px;
  scale: 0.8;
  outline: 1px solid transparent;
  transition: 200ms var(--globaltransition-header);
}
.re-btn:hover::before {
  scale: 1;
  outline: 1px solid rgb(113, 113, 113);
}
.re-btn:active::before {
  scale: 0.9;
  outline: 1px solid black;
}

.icon-btn {
  position: relative;
  display: flex;
  cursor: pointer;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  background-color: transparent;
}

input[type="text"].form-control {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: white;
}
input[type="text"].form-control:focus {
  outline: none;
}
